<h1>Favorite News</h1>


  <% news.forEach((a) => { %>
    <div class="well">
      <h2>
        <strong><%= a.title %></strong>
        <p><%= a.summary.slice(0, 99) + '......' %> </p>
        <small>by <%= a.author %></small>
        <a href="/favorites/<%= a.id %>"> More Info </a>
        <br>
      </h2>
      <form method="POST" action="/favorites/<%= a.id %>/?_method=DELETE">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
      </form>
    </div>
  <% }) %>
