<h2> Simply SupplyChain News</h2>

<div class="well">
  <form method="POST" action="./news/search">
      <input name="searchTerm" type="text" placeholder="Type business or imports">
      <button class="btn btn-primary" type="submit">Search News</button>
  </form>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-xs-12">
        <img class="hero" src="">
      </div>
    </div>
    <h2>Latest News</h2>
    
    <% if(news && Array.isArray(news) && news.length > 0) {%> 
    <% news.forEach(function(a) { %>
      <div class="well">
        <h2>
          <a href="/news/<%= a._id %>"><%= a.title %></a>
          <small>by <%= a.author %></small>
        </h2>
        <p>
          <strong><%= a.published_date.split(' ')[0] %></strong>
        </p>
        <form action="./favorites" method="POST">
          <input type="text" name="title" hidden value="<%= a.title%>">
          <input type="text" name="summary" hidden value="<%= a.summary%>">
          <input type="text" name="author" hidden value="<%= a.author%>">
          <button type="submit"> ADD </button>
        </form>
      </div>
    <% }) %>
    <% } %> 

  </div>
  <div class="col-sm-4">
    <h2>About</h2>
    <p>Simply SupplyChain is a.</p>
  </div>
</div>