<body class="text-bg-dark">
  

<h2 class="p-lg-5">News Details</h2>
<div class="panel-group card text-bg-dark" id="accordion_@i">
  <div class="panel panel-default" id="panel_@i">
         <div class="panel-heading">
               <h4 class="">
                <h4><%= news.title %> </h4>
                <h4><%= news.summary %> </h4>
                <strong>Author: <%= news.author %> </strong>
                      
    </div>
          
  </div>
</div>


  <form method="POST" action="/favorites/<%= news.id %>/comments">
    <label for="commentText">Comment</label>
    <input name="commentText" type="text" placeholder="Any Related Comments">
    <button type="submit">Submit</button>
  </form>

  <% if(comments && Array.isArray(comments) && comments.length > 0) {%> 
    <% comments.forEach((a) => { %>
      <div class="well">
        <h2>
          <p><%= a.content %> </p>
        </h2>
      </div>
      <form method="POST" action="/favorites/ <%= a.id %>/?_method=DELETE"> 
        <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
      </form>
    <% }) %>
    <% } %> 
</body>
