<body class="text-bg-dark">
  

<h2 class="p-lg-5">News Details</h2>
<div class="panel-group card text-bg-dark" id="accordion_@i">
  <div class="panel panel-default" id="panel_@i">
         <div class="panel-heading">
               <h4 class="">
                <h4><%= news.title %> </h4>
                <h4><%= news.summary %> </h4>
                <strong>Author: <%= news.author %> </strong>            
        </div>  
    </div>
</div>

  <form method="POST" action="/favorites/<%= news.id %>/comments">
    <div class="col-12 mt-4">
      <label class="container visually-hidden" name="commentText"for="commentText">Comment</label>
      <div class="input-group">
        <input type="text" id="form1" name= "commentText" class="form-control-lg" placeholder="Any Related Comments">
      </div>
    </div>
    <div class="col-12 ">
      <button class="btn btn-primary " type="submit">Submit</button>
    </div>
  </form>
  

    <section style="text-bg-dark">
      <% if(comments && Array.isArray(comments) && comments.length > 0) {%> 
      <% comments.forEach((a) => { %>
      <div class="container my-5 py-5 text-bg-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="card text-bg-dark">
              <div class="card-body p-4">

                <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="\assets\brand\exportFormalities.jpeg" alt="avatar" width="60"
                    height="60" />
                  <div>
                    <h6 class="fw-bold mb-1">Comments</h6>
                    <div class="d-flex align-items-center mb-3">
                      <p class="mb-0">
                        <h2>
                          <p class="mb-0"><%= a.content %> </p>
                        </h2>
                      </p>
                    </div>
                    <form class="mb-0" method="POST" action="/favorites/ <%= a.id %>/?_method=DELETE"> 
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
                    </form>
              
                  </div>
                </div>
              </div>
        <% }) %>
        <% } %>  
    </section>     

</body>