<h1>Individual News</h1>

<h2><%= news.title %> </h2>
<small><%= news.summary %> </small>
<strong><%= news.author %> </strong>


<% if(news && Array.isArray(news) && news.length > 0) {%>
<div class="well">
  <% news.comments.forEach((a) => { %>
    <p><%= a.name %> </p>
    <p><%= a.content %> </p>
  </div>
    
<% }) %> 
<% } %>
<form method="POST" action="./<%= news.id %>/comments">
  <label for="userName">User Name</label>
  <input name="userName" type="text">
  <br>
  <label for="commentText">Comment</label>
  <input name="commentText" type="text">
  <button type="submit">Submit</button>
</form>