<h2>Individual News</h2>

<h3><%= news.title %> </h3>
<h4><%= news.summary %> </h4>
<strong>Author: <%= news.author %> </strong>

  <form method="POST" action="/favorites/<%= news.id %>/comments">
    <label for="commentText">Comment</label>
    <input name="commentText" type="text" placeholder="Any Related Comments">
    <button type="submit">Submit</button>
  </form>

  <% if(comments && Array.isArray(comments) && comments.length > 0) {%> 
    <% comments.forEach((a) => { %>
      <div class="well">
        <h2>
          <p><%= a.content %> </p>
        </h2>
      </div>
      <form method="POST" action="/favorites/ <%= a.id %>/?_method=DELETE"> 
        <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
      </form>
    <% }) %>
    <% } %> 

